/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
}

.score-display {
    background-color: #080001;
    width: 155px;
    height: 120px;
    margin-top: 21px;
}


.container-counts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 26px;
    margin-bottom: 79px;
} 


.score-display {
    font-family: 'Cursed Timer ULiL', Arial;
    color: F94F6D;
    font-size: 90px;
    text-align: center;
    padding: 20px ;
    border-radius: 10px;
}
button {
    width: 45px;
    height: 45px;
    color: #9AABD8;
    border-radius: 10%;
    font-family: 'Cursed Timer ULiL', Arial;
}